/* line 5, ../zakjr/sass/admin.scss */
.dragger-row {
  position: relative;
  border: 1px solid rgba(10, 10, 10, 0.25);
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
/* line 10, ../zakjr/sass/admin.scss */
.dragger-row.dragger-state--over {
  border: 1px dashed rgba(10, 10, 10, 0.15);
}
/* line 13, ../zakjr/sass/admin.scss */
.dragger-row.dragger-state--dragging {
  opacity: 0.3;
}
/* line 18, ../zakjr/sass/admin.scss */
.dragger-row:hover .dragger-handle {
  display: inline-block;
}
/* line 21, ../zakjr/sass/admin.scss */
.dragger-row:hover .dragger-content {
  width: 91.66667%;
}

/* line 27, ../zakjr/sass/admin.scss */
.dragger-handle {
  display: none;
  cursor: move;
}

/* line 33, ../zakjr/sass/admin.scss */
.menu > li > a.button-anchor {
  padding: 0.85em 1em;
}

/* line 39, ../zakjr/sass/admin.scss */
.toc-nav h2 {
  font-family: "Raleway", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.5rem;
}
/* line 43, ../zakjr/sass/admin.scss */
.toc-nav ul.leaders {
  max-width: 70em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
/* line 49, ../zakjr/sass/admin.scss */
.toc-nav ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}
/* line 62, ../zakjr/sass/admin.scss */
.toc-nav ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white;
}
/* line 66, ../zakjr/sass/admin.scss */
.toc-nav ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: white;
}

/*Definition List*/
/* line 74, ../zakjr/sass/admin.scss */
.dl-horizontal {
  display: flex;
  flex-wrap: wrap;
}

/* line 78, ../zakjr/sass/admin.scss */
.dl-horizontal dt {
  flex: 1 0 30%;
  padding-right: 1em;
}

/* line 82, ../zakjr/sass/admin.scss */
.dl-horizontal dd {
  flex: 2 0 60%;
}
