/* line 1, ../zakjr/sass/admin.scss */
.dragger-row {
  position: relative;
  border: 1px solid rgba(10, 10, 10, 0.25);
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
/* line 6, ../zakjr/sass/admin.scss */
.dragger-row.dragger-state--over {
  border: 1px dashed rgba(10, 10, 10, 0.15);
}
/* line 9, ../zakjr/sass/admin.scss */
.dragger-row.dragger-state--dragging {
  opacity: 0.3;
}
/* line 14, ../zakjr/sass/admin.scss */
.dragger-row:hover .dragger-handle {
  display: inline-block;
}
/* line 17, ../zakjr/sass/admin.scss */
.dragger-row:hover .dragger-content {
  width: 91.66667%;
}

/* line 23, ../zakjr/sass/admin.scss */
.dragger-handle {
  display: none;
  cursor: move;
}
