<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zakjr</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/foundation-sites/dist/site.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css"
              asp-fallback-href="~/lib/foundation-sites/dist/foundation.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway:400,400i,700,700i" rel="stylesheet"> 
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @*<div class="top-bar">
        <div class="top-bar-title">
            <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon dark" type="button" data-toggle></button>
            </span>
            <strong>zakjr</strong>
        </div>
        <div id="responsive-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>*@
    <div id="mag-cover" class="show-for-large">
        <div class="cover-img cover-img-left">
            <button class="small button cover-crumbs"><span class="accent"> < </span>Back to categories</button>
            <div class="cover-pop">
                <h1>Homestead</h1>
                <p>Posts about my current project, a farming RPG! Progress, techniques, and lots of eye-candy</p>
            </div>
        </div>
        <div class="cover-img cover-img-mid">
            <button class="small button cover-crumbs"><span class="accent"> < </span>Back to categories</button>
            <div class="cover-pop">
                <h1>Blendering for Unity</h1>
                <p>A tutorial series geared towards those with no experience making 3D models! Learn to make your own assets for your Unity projects</p>
            </div>
        </div>
        <div class="cover-img cover-img-right">
            <button class="small button cover-crumbs"><span class="accent"> < </span>Back to categories</button>
            <div class="cover-pop">
                <h1>Zak's Portfolio</h1>
                <p>I've done a bunch of stuff, and you can see it here! Prepare to see lots of little game jam games</p>
            </div>
        </div>
    </div>
    <div class="row expanded">
        <section id="content" class="large-6 columns">
            <div class="row column">
                @RenderBody()
            </div>
        </section>
    </div>
    <div class="row column">
        <hr />
        <footer>
            <p>&copy; 2016 - Zak Reynolds</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/foundation-sites/dist/foundation.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"
                asp-fallback-src="~/lib/foundation-sites/dist/foundation.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
