// Vars (eventually combine with Foundation stuff)
$copy-fontfamily: "Raleway", Helvetica, Roboto, Arial, sans-serif;

// Drag-n-drop
.dragger-row {
    position: relative;
    border: 1px solid rgba(10, 10, 10, 0.25);
    opacity: 1;
    transition: opacity 0.3s ease-out;
    &.dragger-state--over {
        border: 1px dashed rgba(10, 10, 10, 0.15);
    }
    &.dragger-state--dragging {
        opacity: 0.3;
    }

    &:hover {
        .dragger-handle {
            display: inline-block;
        }
        .dragger-content {
            width: 91.66667%;
        }
    }
}

.dragger-handle {
    display: none;
    cursor: move;
}

// Table-of-contents nav styling
.toc-nav {
    h2 {
        font-family: $copy-fontfamily;
        font-size: 1.5rem;
    }
    ul.leaders {
        max-width: 70em;
        padding: 0;
        overflow-x: hidden;
        list-style: none;
    }
    ul.leaders li:before {
        float: left;
        width: 0;
        white-space: nowrap;
        content:
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . ";
    }
    ul.leaders span:first-child {
        padding-right: 0.33em;
        background: white;
    }
    ul.leaders span + span {
        float: right;
        padding-left: 0.33em;
        background: white;
    }
}

/*Definition List*/
.dl-horizontal {
    display: flex;
    flex-wrap: wrap;
}
.dl-horizontal dt {
    flex: 1 0 30%;
    padding-right: 1em;
}
.dl-horizontal dd {
    flex: 2 0 60%;
}