<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADMIN - zakjr</title>

    @Html.Partial("GlobalHeadPartial")
    <environment names="Development">
        <link rel="stylesheet" href="~/css/admin.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*All the content together, medium and smaller*@
    <div class="row">
        <section class="large-5 columns" style="margin-top: 1rem">
            <div class="toc-nav">
                <h1>Contents</h1>
                <h2>Part 1 | <strong>The Site</strong></h2>
                <ul class="leaders">
                    <li><span>1</span><span><a asp-controller="Home" asp-action="Index" target="_blank">View Site</a></span></li>
                    <li><span>2</span><span><a asp-controller="Admin" asp-action="Index">Admin Home</a></span></li>
                </ul>
                <h2>Part 2 | <strong>You, the User</strong></h2>
                <ul class="leaders">
                    <li><span>3</span><span><a asp-controller="Manage" asp-action="Index">Manage your account</a></span></li>
                    <li><span>4</span><span><a asp-controller="Manage" asp-action="ChangePassword">Change your password</a></span></li>
                </ul>
                <h2>Part 3 | <strong>The Blog</strong></h2>
                <ul class="leaders">
                    <li><span>5</span><span><a asp-controller="Admin" asp-action="Index">Add a new post</a></span></li>
                    <li><span>6</span><span><a asp-controller="Admin" asp-action="Index">Manage posts</a></span></li>
                    <li><span>7</span><span><a asp-controller="Admin" asp-action="Index">Manage comments</a></span></li>
                </ul>
            </div>
        </section>
        <section class="large-6 large-offset-1 columns">
            <div class="row column">
                @RenderBody()
            </div>
        </section>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/foundation-sites/dist/foundation.js"></script>
        <script src="~/lib/autosize/dist/autosize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"
                asp-fallback-src="~/lib/foundation-sites/dist/foundation.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/autosize/dist/autosize.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/admin.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
