@using Microsoft.AspNetCore.Identity
@using zakjr.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="manage-bar-form">
        <ul class="manage-bar-nav">
            <li class="manage-bar-nav__item">
                <a class="button button--on-dark" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="manage-bar-nav__item">
                <a class="button button--on-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Home</a>
            </li>
            <li class="manage-bar-nav__item">
                <a class="button button--on-dark" asp-area="" asp-controller="Home" asp-action="Index">View Site</a>
            </li>
            <li class="manage-bar-nav__item">
                <button class="button button--on-dark" type="submit">Log off</button>
            </li>
        </ul>
    </form>
}